<?xml version="1.0" encoding="UTF-8"?>

<!-- 230309 5교시 로그 프레임워크 -->

<!--
	<Configuration> : log4j 설정의 가장 최상위 요소
		status 속성은 log4j 내부 이벤트에 대한 로그 레벨을 의미한다.
-->
<Configuration status="INFO">
	<!--
		<Appenders> : 로그 출력 위치(콘솔, 파일, DB, Outputstream 등)를 정하는 요소
	-->
	<Appenders>
		<!-- <Console> : 콘솔에 로그 메시지를 출력한다. target="" 실제로 로그를 출력할 위치 -->
		<Console name="console" target="SYSTEM_OUT"> <!-- SYSTEM_OUT = 표준 출력 syso -->
			<!-- <PatternLayout> : 로그의 출력 포맷을 지정한다. -->
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %M - %msg - %n"/>
		</Console>
<!-- 230309 6교시 Board패키지 Member패키지 로그를 따로 파일로 구현 -->
		<!-- <File> : 파일에 로그 메시지를 출력한다. -->
		<File name="member_file" fileName="./logs/member_log.txt">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %M - %msg - %n"/>
		</File>
		<File name="board_file" fileName="./logs/board_log.txt">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %M - %msg - %n"/>
		</File>
	</Appenders>
	<!--
		<Loggers> : 로깅이 일어나는 부분을 그룹화하는 역할을 한다.

		로그 레벨은 아래와 같다.
		FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL
	-->
	<Loggers>
		<!-- <Root> : 일반적인 로그 정책을 의미 -->
		<Root level="DEBUG">
	    	<AppenderRef ref="console"/>
	    </Root>
	    
<!-- 230309 6교시 Board패키지 Member패키지 로그를 따로 파일로 구현 -->	    
	    <!-- 추가로 필요한 로그 정책을 정의 -->
	    <Logger name="com.kh.mybatis.member" level="DEBUG">
	    	<AppenderRef ref="member_file"/>
	    </Logger>
	    <Logger name="com.kh.mybatis.board" level="DEBUG">
	    	<AppenderRef ref="board_file"/>
	    </Logger>
	</Loggers>


</Configuration>