<?xml version="1.0" encoding="UTF-8"?>

<!-- 230228 6교시 -->

<!-- Mybatis 설정 파일임을 선언 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- <configuration> : 필요한 설정들을 작성. 설정 최상위 태그 -->  
<configuration>

<!-- 230306 7교시 -->
	
	<!--
		<properties> : 외부 properties 파일의 내용을 불러올 때 사용하는 요소
					   properties 하위에 property 요소를 지정하여 mybatis-config.xml 사용할 값을 미리 지정할 수 있다.
		
		properties 요소를 통해 불러온 값 또는 지정된 값을 아래와 같이 필요한 곳에서 사용할 수 있다.
		ex) <environment> 하위의 <dataSource type="POOLED"> 하위의 <property name="driver" value="${driver}"/>
	-->
	<!--
	<properties>
		<property name="db.driver" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="db.url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="db.username" value="WEB"/>
		<property name="db.password" value="WEB"/>
	</properties>
	-->
	<!-- DB 연결 정보를 외부에 있는 driver.properties 파일에서 불러오기 위한 요소 태그 -->
	<properties resource="driver.properties" />
		<!-- 직접 xml에 하드코딩(바로 위 주석) 하는 것이 아니라, resource : 클래스파일을 기준으로 내가 읽어올 속성 -->
	
<!-- 230307 2교시 -->
	<!-- <settings> : 마이바티스와 관련된 기본 설정을 선언하는 요소 -->
	<settings>
		<!-- 파라미터의 null 값에 대한 jdbc 타입을 지정한다. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!--
		<typeAliases> : mybatis에서 사용할 자료형의 별칭을 선언하는 요소
	-->
	<typeAliases>
		<typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="Member"/>
		<!-- member-mapper.xml에서 패키지명까지 길게 쓰던 것(com.kh.mybatis.member.model.vo.Member)을 Member로 간단히 작성 가능하게 해줌 -->
		<typeAlias type="com.kh.mybatis.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.mybatis.board.model.vo.Reply" alias="Reply"/>
	</typeAliases>

	<!--
		<environments> : DB에 연결할 설정 정보들을 선언하는 요소
		
		default 속성
			여러 개의 연결 정보 중에서 기본으로 연결할 설정 정보를 지정하는 속성이다.
	-->
	<environments default="web">
		<environment id="web">
			<!--
				<transactionManager> : transaction을 제어하기 위한 설정.
				
				type="JDBC" : JDBC가 커밋이나 롤백을 직접 설정할 수 있게 해줌
				(속성에 관한 것들은 수업자료에 다 있음 참고하기)
			-->
			<transactionManager type="JDBC"/>
			
			<!-- <dataSource> : 실제 DB 접속에 관한 정보를 설정하는 요소 -->
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}"/>
				<property name="url" value="${db.url}"/>
				<property name="username" value="${db.username}"/>
				<property name="password" value="${db.password}"/>
			</dataSource>
		</environment>

<!-- 230306 2교시 -->		
		<!-- 한 개가 아닌 여러 개의 environment를 넣을 수 있음. 여러 개 이면 environments태그의 default속성을 기본값으로 가짐-->
		<environment id="KH">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="KH"/>
				<property name="password" value="KH"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 230228 6교시, 230307 5교시 -->
	<!-- <mappers> : 사용할 쿼리문이 담긴 Mapper 파일을 등록하는 요소 -->
	<mappers>
		<mapper resource="mappers/member/member-mapper.xml"/>	<!-- resource는 클래스 패스 기준으로 지정. 클래스패스란? 클래스 파일이 위치하는 곳 -->
		<mapper resource="mappers/board/board-mapper.xml"/>
	</mappers>
	
</configuration>